/* Tablet View */
@media (min-width: 772px) {
  div {
    width: 45vw;
  }

  img {
    max-height: 30vh;
  }
}

/* Large Screen View */
@media (min-width: 998px) {
  div {
    width: 30vw;
  }
}